@{
    ViewData["Title"] = "Niste prijavljeni";
}

<h2>Pristup odbijen</h2>
<p>Morate biti prijavljeni da biste pristupili ovoj stranici.</p>

<a href="@Url.Action("Login", "Account")" class="btn btn-primary">Prijavi se</a>
